src/main/java/com/capinfo/dcxm/dmonitor/yerss/A5ServerSoapPort.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="A5ServerSoapService" targetNamespace="http://webservice/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice/" schemaLocation="http://172.24.198.203:8580/A5WebService/A5ServerSoapPort?xsd=1"></xsd:import>
    </xsd:schema>
  </types>
  <message name="A5QueryNewOrder">
    <part element="tns:A5QueryNewOrder" name="parameters"></part>
  </message>
  <message name="A5QueryNewOrderResponse">
    <part element="tns:A5QueryNewOrderResponse" name="parameters"></part>
  </message>
  <message name="A5QueryOrder">
    <part element="tns:A5QueryOrder" name="parameters"></part>
  </message>
  <message name="A5QueryOrderResponse">
    <part element="tns:A5QueryOrderResponse" name="parameters"></part>
  </message>
  <message name="A5SignOrder">
    <part element="tns:A5SignOrder" name="parameters"></part>
  </message>
  <message name="A5SignOrderResponse">
    <part element="tns:A5SignOrderResponse" name="parameters"></part>
  </message>
  <message name="A5ReplyResult">
    <part element="tns:A5ReplyResult" name="parameters"></part>
  </message>
  <message name="A5ReplyResultResponse">
    <part element="tns:A5ReplyResultResponse" name="parameters"></part>
  </message>
  <message name="A5RejectOrder">
    <part element="tns:A5RejectOrder" name="parameters"></part>
  </message>
  <message name="A5RejectOrderResponse">
    <part element="tns:A5RejectOrderResponse" name="parameters"></part>
  </message>
  <message name="A5RequestDelay">
    <part element="tns:A5RequestDelay" name="parameters"></part>
  </message>
  <message name="A5RequestDelayResponse">
    <part element="tns:A5RequestDelayResponse" name="parameters"></part>
  </message>
  <message name="A5RejectSignOrder">
    <part element="tns:A5RejectSignOrder" name="parameters"></part>
  </message>
  <message name="A5RejectSignOrderResponse">
    <part element="tns:A5RejectSignOrderResponse" name="parameters"></part>
  </message>
  <message name="A5QueryNewUrge">
    <part element="tns:A5QueryNewUrge" name="parameters"></part>
  </message>
  <message name="A5QueryNewUrgeResponse">
    <part element="tns:A5QueryNewUrgeResponse" name="parameters"></part>
  </message>
  <message name="A5QueryNewUrgeInfo">
    <part element="tns:A5QueryNewUrgeInfo" name="parameters"></part>
  </message>
  <message name="A5QueryNewUrgeInfoResponse">
    <part element="tns:A5QueryNewUrgeInfoResponse" name="parameters"></part>
  </message>
  <message name="A5QueryUrgeInfo">
    <part element="tns:A5QueryUrgeInfo" name="parameters"></part>
  </message>
  <message name="A5QueryUrgeInfoResponse">
    <part element="tns:A5QueryUrgeInfoResponse" name="parameters"></part>
  </message>
  <message name="A5SignOrderUrge">
    <part element="tns:A5SignOrderUrge" name="parameters"></part>
  </message>
  <message name="A5SignOrderUrgeResponse">
    <part element="tns:A5SignOrderUrgeResponse" name="parameters"></part>
  </message>
  <message name="A5QueryNewReUrge">
    <part element="tns:A5QueryNewReUrge" name="parameters"></part>
  </message>
  <message name="A5QueryNewReUrgeResponse">
    <part element="tns:A5QueryNewReUrgeResponse" name="parameters"></part>
  </message>
  <message name="A5QueryNewReUrgeInfo">
    <part element="tns:A5QueryNewReUrgeInfo" name="parameters"></part>
  </message>
  <message name="A5QueryNewReUrgeInfoResponse">
    <part element="tns:A5QueryNewReUrgeInfoResponse" name="parameters"></part>
  </message>
  <message name="A5QueryReUrgeInfo">
    <part element="tns:A5QueryReUrgeInfo" name="parameters"></part>
  </message>
  <message name="A5QueryReUrgeInfoResponse">
    <part element="tns:A5QueryReUrgeInfoResponse" name="parameters"></part>
  </message>
  <message name="A5SignOrderReUrge">
    <part element="tns:A5SignOrderReUrge" name="parameters"></part>
  </message>
  <message name="A5SignOrderReUrgeResponse">
    <part element="tns:A5SignOrderReUrgeResponse" name="parameters"></part>
  </message>
  <message name="A5SubmitOrder">
    <part element="tns:A5SubmitOrder" name="parameters"></part>
  </message>
  <message name="A5SubmitOrderResponse">
    <part element="tns:A5SubmitOrderResponse" name="parameters"></part>
  </message>
  <message name="A5QueryNewNotice">
    <part element="tns:A5QueryNewNotice" name="parameters"></part>
  </message>
  <message name="A5QueryNewNoticeResponse">
    <part element="tns:A5QueryNewNoticeResponse" name="parameters"></part>
  </message>
  <message name="A5AcceptNotice">
    <part element="tns:A5AcceptNotice" name="parameters"></part>
  </message>
  <message name="A5AcceptNoticeResponse">
    <part element="tns:A5AcceptNoticeResponse" name="parameters"></part>
  </message>
  <message name="downloadAttachFile">
    <part element="tns:downloadAttachFile" name="parameters"></part>
  </message>
  <message name="downloadAttachFileResponse">
    <part element="tns:downloadAttachFileResponse" name="parameters"></part>
  </message>
  <message name="uploadAttachFile">
    <part element="tns:uploadAttachFile" name="parameters"></part>
  </message>
  <message name="uploadAttachFileResponse">
    <part element="tns:uploadAttachFileResponse" name="parameters"></part>
  </message>
  <message name="getPoolBuffer">
    <part element="tns:getPoolBuffer" name="parameters"></part>
  </message>
  <message name="getPoolBufferResponse">
    <part element="tns:getPoolBufferResponse" name="parameters"></part>
  </message>
  <portType name="A5ServerSoapDelegate">
    <operation name="A5QueryNewOrder">
      <input message="tns:A5QueryNewOrder"></input>
      <output message="tns:A5QueryNewOrderResponse"></output>
    </operation>
    <operation name="A5QueryOrder">
      <input message="tns:A5QueryOrder"></input>
      <output message="tns:A5QueryOrderResponse"></output>
    </operation>
    <operation name="A5SignOrder">
      <input message="tns:A5SignOrder"></input>
      <output message="tns:A5SignOrderResponse"></output>
    </operation>
    <operation name="A5ReplyResult">
      <input message="tns:A5ReplyResult"></input>
      <output message="tns:A5ReplyResultResponse"></output>
    </operation>
    <operation name="A5RejectOrder">
      <input message="tns:A5RejectOrder"></input>
      <output message="tns:A5RejectOrderResponse"></output>
    </operation>
    <operation name="A5RequestDelay">
      <input message="tns:A5RequestDelay"></input>
      <output message="tns:A5RequestDelayResponse"></output>
    </operation>
    <operation name="A5RejectSignOrder">
      <input message="tns:A5RejectSignOrder"></input>
      <output message="tns:A5RejectSignOrderResponse"></output>
    </operation>
    <operation name="A5QueryNewUrge">
      <input message="tns:A5QueryNewUrge"></input>
      <output message="tns:A5QueryNewUrgeResponse"></output>
    </operation>
    <operation name="A5QueryNewUrgeInfo">
      <input message="tns:A5QueryNewUrgeInfo"></input>
      <output message="tns:A5QueryNewUrgeInfoResponse"></output>
    </operation>
    <operation name="A5QueryUrgeInfo">
      <input message="tns:A5QueryUrgeInfo"></input>
      <output message="tns:A5QueryUrgeInfoResponse"></output>
    </operation>
    <operation name="A5SignOrderUrge">
      <input message="tns:A5SignOrderUrge"></input>
      <output message="tns:A5SignOrderUrgeResponse"></output>
    </operation>
    <operation name="A5QueryNewReUrge">
      <input message="tns:A5QueryNewReUrge"></input>
      <output message="tns:A5QueryNewReUrgeResponse"></output>
    </operation>
    <operation name="A5QueryNewReUrgeInfo">
      <input message="tns:A5QueryNewReUrgeInfo"></input>
      <output message="tns:A5QueryNewReUrgeInfoResponse"></output>
    </operation>
    <operation name="A5QueryReUrgeInfo">
      <input message="tns:A5QueryReUrgeInfo"></input>
      <output message="tns:A5QueryReUrgeInfoResponse"></output>
    </operation>
    <operation name="A5SignOrderReUrge">
      <input message="tns:A5SignOrderReUrge"></input>
      <output message="tns:A5SignOrderReUrgeResponse"></output>
    </operation>
    <operation name="A5SubmitOrder">
      <input message="tns:A5SubmitOrder"></input>
      <output message="tns:A5SubmitOrderResponse"></output>
    </operation>
    <operation name="A5QueryNewNotice">
      <input message="tns:A5QueryNewNotice"></input>
      <output message="tns:A5QueryNewNoticeResponse"></output>
    </operation>
    <operation name="A5AcceptNotice">
      <input message="tns:A5AcceptNotice"></input>
      <output message="tns:A5AcceptNoticeResponse"></output>
    </operation>
    <operation name="downloadAttachFile">
      <input message="tns:downloadAttachFile"></input>
      <output message="tns:downloadAttachFileResponse"></output>
    </operation>
    <operation name="uploadAttachFile">
      <input message="tns:uploadAttachFile"></input>
      <output message="tns:uploadAttachFileResponse"></output>
    </operation>
    <operation name="getPoolBuffer">
      <input message="tns:getPoolBuffer"></input>
      <output message="tns:getPoolBufferResponse"></output>
    </operation>
  </portType>
  <binding name="A5ServerSoapPortBinding" type="tns:A5ServerSoapDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="A5QueryNewOrder">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5QueryOrder">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5SignOrder">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5ReplyResult">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5RejectOrder">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5RequestDelay">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5RejectSignOrder">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5QueryNewUrge">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5QueryNewUrgeInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5QueryUrgeInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5SignOrderUrge">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5QueryNewReUrge">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5QueryNewReUrgeInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5QueryReUrgeInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5SignOrderReUrge">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5SubmitOrder">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5QueryNewNotice">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="A5AcceptNotice">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="downloadAttachFile">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="uploadAttachFile">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
    <operation name="getPoolBuffer">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="A5ServerSoapService">
    <port binding="tns:A5ServerSoapPortBinding" name="A5ServerSoapPort">
      <soap:address location="http://172.24.198.203:8580/A5WebService/A5ServerSoapPort"></soap:address>
    </port>
  </service>
</definitions>